<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body class="font-sans text-trueGray-700">
  {{- partial "nav.html" . -}}
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
  {{- block "main" . }}{{- end }}
  {{- partial "footer.html" . -}}
  {{- partial "script.html" . -}}
</body>
</html>
