{{ define "main" }}
<article class="mx-auto lg:w-2/3 md:w-5/6 px-5 md:px-16" role="main">
  {{ if ne .Type "page" }}
  <p class="font-serif text-trueGray-500 text-lg md:text-2xl italic leading-9 mb-10">
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#F5F5F5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
    <span class="align-middle px-1">Posted on {{ .Date.Format "January 2, 2006" }}</span>
    <span>|</span>
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#F5F5F5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span class="align-middle px-1">{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Author.name }}{{ end }}</span>
  </p>
  {{ end }}
  <div class="content">{{ .Content }}</div>
  {{ if ne .Type "page" }}
  <div class="mt-3 mb-20">
    <span class="text-trueGray-400 text-xl">Tags:</span>
    <ul class="inline">
      {{ range .Params.tags }}
      <li class="inline-block">
        <a class="text-cyan-700 text-xl px-1.5 rounded hover:bg-trueGray-300" href="{{ "" | absURL }}{{ . | urlize }}/">#{{ . }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
</article>
{{ if ne .Type "page" }}
<ul class="mx-auto lg:w-2/3 md:w-5/6 px-16 pb-20 mb-20">
  {{ if .PrevInSection }}
    <li class="relative">
      <a class="absolute left-0 text-center border border-trueGray-300 px-9 py-5 uppercase font-extrabold tracking-wider bg-white text-xl hover:bg-cyan-700 hover:text-white" href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">⇽ Previous post</a>
    </li>
  {{ end }}
  {{ if .NextInSection }}
    <li class="relative">
      <a class="absolute right-0 text-center border border-trueGray-300 px-9 py-5 uppercase font-extrabold tracking-wider bg-white text-xl hover:bg-cyan-700 hover:text-white" href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">Next post ⇾</a>
    </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}