{{ define "main" }}
{{ $data := .Data }}
<main class="mx-auto lg:w-2/3 md:w-5/6 px-5 md:px-16 my-20">
  {{ range $key, $value := .Data.Terms.ByCount }}
  <details class="border border-trueGray-300 -m-px">
    <summary class="font-extrabold text-xl group hover:text-cyan-700 cursor-pointer py-3.5 px-5 flex justify-between">
      <span>{{ $value.Name }}</span>
      <span class="text-white text-base font-semibold bg-trueGray-500 text-center rounded-full py-0.5 px-2.5 group-hover:bg-cyan-700">{{ $value.Count }}</span>
    </summary>
    <a class="block font-semibold text-xl px-5 py-3.5 hover:bg-trueGray-100 hover:text-cyan-700" href="{{ "" | absURL }}{{ $value.Name | urlize }}/">View all</a>
    <ul>
      {{ range $item := $value.WeightedPages }}
      <li><a class="block font-extrabold text-xl px-5 py-3.5 hover:bg-trueGray-100 hover:text-cyan-700" href="{{$item.Permalink}}" class="list-group-item">{{ $item.Title }}</a></li>
      {{ end }}
    </ul>
  </details>
  {{ end }}
</main>
{{ end }}