@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h4 {
    @apply text-3xl font-semibold mt-5 mb-2.5;
  }
}

@layer components {
  #navbar.short {
    @apply p-0;
  }
  #logo.gone {
    @apply invisible opacity-0;
  }
  p code {
    @apply px-1.5 py-0.5 font-mono text-90 text-rose-700 bg-rose-50 rounded-md break-words;
  }
  .content p {
    @apply my-2 font-serif text-2xl leading-9;
  }
  .content h3 {
    @apply font-extrabold text-4xl mb-3.5 mt-7;
  }
  .content blockquote {
    @apply py-2 px-8 mb-6 border-l-4 border-trueGray-200 italic;
  }
  .content blockquote p {
    @apply mt-0 text-trueGray-500;
  }
  .content pre {
    @apply p-3 text-lg overflow-x-auto;
  }
  .content ul {
    @apply list-disc pl-8 text-2xl font-serif;
  }
  .content a {
    @apply text-blue-500;
  }
}