<footer class="py-16 bg-trueGray-50 border-t border-trueGray-200 text-center">
  <ul class="space-x-7">
    <li class="inline-block w-16 h-16 rounded-full bg-trueGray-700 hover:bg-cyan-700">
      <a class="block p-4" href="mailto:{{ .Site.Author.email }}" title="Email">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
      </a>
    </li>
    <li class="inline-block w-16 h-16 rounded-full bg-trueGray-700 hover:bg-cyan-700">
      <a class="block p-4" href="https://gitlab.com/{{ .Site.Author.gitlab }}" title="Gitlab" target="_blank" rel="noopener">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-gitlab"><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z"></path></svg>
      </a>
    </li>
    <li class="inline-block w-16 h-16 rounded-full bg-trueGray-700 hover:bg-cyan-700">
      <a class="block p-4" href="{{ "" | absURL }}index.xml" title="RSS">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg>
      </a>
    </li>
  </ul>
  <p class="mt-2 text-xl leading-8 text-trueGray-500">{{ .Site.Author.name }} • © {{ .Site.LastChange.Format "2006" }} • <a class="text-trueGray-700" href="{{ .Permalink }}">{{ .Site.Title }}</a></p>
  <p class="mt-5">Built with <a href="https://gohugo.io" target="_blank" rel="noopener">Hugo v{{ .Site.Hugo.Version }}</a></p>
</footer>