{{ if .IsHome }}
  {{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}
{{ else }}
  {{ $.Scratch.Set "subtitle" .Params.subtitle }}
{{ end }}
{{ if eq .Type "posts" }}
{{ $.Scratch.Set "h1classes" "mb-5 text-4xl md:text-5xl font-extrabold" }}
{{ $.Scratch.Set "h2classes" "mt-3 mb-5 text-3xl md:text-4xl font-light" }}
{{ else }}
{{ $.Scratch.Set "h1classes" "mb-3 text-6xl md:text-8xl font-extrabold text-center" }}
{{ $.Scratch.Set "h2classes" "mt-3 text-4xl font-light text-center" }}
{{ end }}

<header class="mx-auto lg:w-2/3 md:w-5/6 px-6 md:px-16 mt-32 md:mt-44 mb-7">
  <h1 id="title" class="{{ $.Scratch.Get "h1classes" }}">{{ .Title }}</h1>
  {{ if eq .Type "page" }}
  <hr class="my-5 mx-auto w-32 border-t-4 rounded border-trueGray-500">
  {{ end }}
  <h2 class="{{ $.Scratch.Get "h2classes" }}">{{$.Scratch.Get "subtitle" }}</h5>
</header>