<nav id="navbar" class="fixed py-0 md:py-7 mb-7 top-0 left-0 right-0 bg-trueGray-50 border-b border-trueGray-200 flex justify-between z-10 transition-all duration-500 short">
  <a class="p-5 text-2xl font-extrabold hover:text-cyan-700" href="{{ "" | absURL }}">{{ .Site.Title }}</a>
  <a id="logo" class="block w-16 md:w-32 h-16 md:h-32 rounded-full bg-trueGray-700 absolute inset-x-1/2 -ml-7 md:-ml-16 transition-all duration-500 -bottom-10 shadow gone" href="{{ "" | absURL }}">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"><defs><marker id="b" overflow="visible" orient="auto"><path transform="scale(.4)" d="m5.77 0-8.65 5v-10l8.65 5z" fill="#fff" fill-rule="evenodd" stroke="#fff" stroke-width="1pt"/></marker><marker id="a" overflow="visible" orient="auto"><path transform="scale(.4)" d="m5.77 0-8.65 5v-10z" fill="#fff" fill-rule="evenodd" stroke="#fff" stroke-width="1pt"/></marker></defs><g display="none"><rect width="100" height="100" fill="#404040"/></g><g fill="none"><path d="m73.981 54.943-48.961 28.268-2e-6 -28.268 2e-6 -28.268 24.481 14.134z" stroke="#fff" stroke-width="2"/><path d="m76.5 24.943v60" stroke="#fffffc" stroke-width="2"/><g stroke="#fff"><path d="m0 54.943h24.1" stroke-width="1.9725"/><path d="m77.111 54.943h22.889" stroke-width="1.9222"/><path d="m42.52 32.34 10.804-18.713" marker-end="url(#b)" stroke-width="2"/><path d="m56.261 40.179 10.804-18.713" marker-end="url(#a)" stroke-width="2"/></g></g></svg>
  </a>
  <ul class="py-5 hidden md:inline-block">
    {{ range .Site.Menus.main }}
    <li class="inline-block px-5">
      <a class="text-base font-extrabold uppercase leading-8 tracking-widest hover:text-cyan-700" href="{{ .URL  | relURL }}" title="{{ .Name }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  <details class="md:hidden cursor-pointer">
    <summary class="flex ml-auto box-content w-7 h-7 px-3.5 py-2.5 mr-5 bg-trueGray-50 hover:bg-trueGray-300 rounded-md mt-2.5 border border-trueGray-300">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#404040" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </summary>
    <ul class="py-5 absolute -mt-1 left-0 right-0 bg-trueGray-50 border-t">
      {{ range .Site.Menus.main }}
      <li class="block px-5">
        <a class="block px-5 py-3.5 text-base font-extrabold uppercase leading-8 tracking-widest hover:text-cyan-700" href="{{ .URL  | relURL }}" title="{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </details>
</nav>