<article class="py-7 md:py-12 border-b -mb-1">
  <a class="hover:text-cyan-700" href="{{ .Permalink }}">
    <h3 class="text-4xl md:text-5xl font-extrabold mb-3">{{ .Title }}</h2>
    <h4 class="text-3xl font-light mb-3">{{ .Params.subtitle }}</h3>
  </a>
  <p class="font-serif text-trueGray-500 text-lg md:text-2xl italic leading-9">
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#F5F5F5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
    <span class="align-middle px-1">Posted on {{ .Date.Format "January 2, 2006" }}</span>
    <span>|</span>
    <svg class="inline" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="#F5F5F5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span class="align-middle px-1">{{ if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Author.name }}{{ end }}</span>
  </p>
  <div class="text-2xl leading-9 mt-3">
    {{ .Summary }}
    <a class="float-right font-extrabold hover:text-cyan-700" href="{{ .Permalink }}">[Read More]</a>
  </div>
  <div class="mt-3">
    <span class="text-trueGray-500 text-xl">Tags:</span>
    <ul class="inline">
      {{ range .Params.tags }}
      <li class="inline-block">
        <a class="text-cyan-700 text-xl px-1.5 rounded hover:bg-trueGray-300" href="{{ "" | absURL }}{{ . | urlize }}/">#{{ . }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</article>