{{ define "main" }}
<main class="mx-auto lg:w-2/3 md:w-5/6 px-5 md:px-16">
  <ul>
  {{ range where site.RegularPages.ByDate.Reverse "Section" "posts" }}
    <li>{{ partial "post_preview.html" . }}</li>
  {{ end }}
  </ul>
</main>
{{ end }}